/*폰트 설정--미정*/

/*초기 설정*/
*{
	padding: 0px;
	margin: 0px;
}

#container {
	position:relative;
	width: 100%;
	height: auto;
	background-color: lightgrey;
}

ul li, ol li {
	list-style: none;
}

a {
	text-decoration: none;
}

/*** 레이아웃 확인하기 위한 장치 ***/
#container {
	background-color: white;
}
#home {
	background-color: lightgrey;
	border: 1px solid darkgrey;
}
#title, /*.menu1,*/ .menu2 {
	border: 1px solid darkgrey;
}
#about {
	background-color: lightpink;
	border: 1px solid darkgrey;
}
#skills {
	background-color: lightyellow;
	border: 1px solid darkgrey;
}
#activity{
	background-color: lightgreen;
	border: 1px solid darkgrey;
}
#contact{
	background-color: lightblue;
	border: 1px solid darkgrey;
}

/*** 레이아웃 크기 지정 ***/
#container {
	position:relative;
	width: 100%;
	height: auto;
	padding: 0;
}
#home, #about, #skills, #activity, #contact {
	position: relative;
	width: 100%;
	height: 100%;
}
#about, #skills, #activity, #contact{
	height: auto;
}

/*** 디자인 구체화 ***/
#content_about, #content_skills, #content_activity, #content_contact {
	margin: 5% 10%;
	background-color: rgba(255,255,255,0.7);
}
#content_about h3, #content_skills h3, #content_activity h3, #content_contact{
	font-size: 35px;
}
.content{
	font-size: 20px;
} 
/*** home ***/
#home{
	background-image:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0,0,0,0.5)) ,url('../images/futurism1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*filter:brightness(70%);/*모두 다 까매지는 문제 발생->linear-gradient를 이용*/
}
.menu1 {
	position:absolute;
	top: 0px;
	right: 0px;
	width: 43%;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
}
.menu2 {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	padding: 5px;
	z-index: 100;/*다른 레이아웃에서도 뜰 수 있도록*/
	background-color: black;
}
.menu1 li, .menu2 li {
	display: inline; /*혹은 block으로 바꿔도 괜찮음*/
	padding: 5px 10px;
	float: center;
}
.menu1 li a {
	font-size: 25px;
	font-weight:600;
	margin-left: 25px;
	color: white;
	cursor: pointer; /*커서 모양이 바뀌도록*/
}
.menu1 li a:hover, .menu2 li a:hover{
	color: yellow;
}
.menu2 li a {
	font-size: 25px;
	font-weight:100;
	margin-left: 170px;
	color: white;
	cursor: pointer; /*커서 모양이 바뀌도록*/
}

#title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 5px 15px 15px 17px;
	font-size: 60px;
	font-weight: 600;
	color: white;
	text-align: center;
}

/*** contact ***/
#contact img{
	width: 30px;
	margin: 10px;
	display: inline;
}

#contact label{
	position: absolute;
	transform: translate(5px, 10px);
}